@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --background: #ffffff;
    --text: #ffffff;
    --primary-color: #5a048b;
    --secondary-color: #eb04cc;
    --hover-color: #02d3b0;
    --accent-color: #ffd900;
    --text-color: #ffffff;
    --text-color2: #000000;
    --input-text-color: #000;
    --badge-color: #fff;
}

.darkMode {
    --background: #252525;
    --text: #ffffff;
    --primary-color: #ffd900;
    --secondary-color: #02d3b0;
    --hover-color: #eb04cc;
    --accent-color: #5a048b;
    --text-color: #ffffff;
    --text-color2: #ffffff;
    --input-text-color: #fff;
    --badge-color: #000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MyCustomFont;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('font/panton-rust-black-base.ttf') format('truetype'),
        url('font/panton-rust-black-base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
  
}


main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
   
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-color);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

img {
    width: 200px;
    height: 100px;
   
}


.todo-list {
    list-style-type: none;
    padding: 0;
}

.wrapper {
    background-color: var(--background);
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 5px auto;
    max-width: 500px;
    width: 100%;
}

#todo-input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: none;
    color: var(--input-text-color);
}

@media(max-width: 500px) {
    html {
        font-size: 12pt;
    }

    #add-button {
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }

    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }
}

#todo-input:focus {
    outline: none;
}

form {
    position: relative;
}


/*filter buttons*/
.filter-buttons {
    display: flex;
    justify-content: space-around;
    
}

.filter-button {
    background-color: var(--button-background);
    color: var(--button-text);
    border: none;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.filter-button:hover {
    transform: scale(1.2);
}

.filter-button svg {
    fill: var(--secondary-color);
}

.filter-button a {
    color: var(--text-color2);
    text-align: center; /
}
#toggle-theme  {
    background: var(--background);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
#toggle-theme svg {
    fill: var(--secondary-color);
}

/*add button*/
#add-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--secondary-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-top-right-radius: 1000px; 
    border-bottom-right-radius: 1000px; 
    font: inherit;
    font-weight: 300;
    color: var(--text);
    cursor: pointer;
}

#add-button:hover {
    background-color: var(--hover-color);
}


/*todo*/
.todo {
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease; 
}

.todo:hover {
    transform: scale(1.05); 
}
.todo .todo-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;

}

.delete-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-button svg {
    transition: 200ms ease;
}

.delete-button:hover svg {
    fill: var(--hover-color);
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.todo.removing {
    animation: fadeOut 0.3s forwards;
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked~.custom-checkbox {
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked~.custom-checkbox svg {
    fill: var(--primary-color);
}

input[type="checkbox"]:checked~.todo-text {
    text-decoration: line-through;
    color: #02d3b0;
}

input[type="checkbox"] {
    display: none;
}

@media(max-width: 500px) {
    html {
        font-size: 12pt;
    }

    #add-button {
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }

    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }
}

footer {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    width: 100%;
}

select {
    padding: 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    background: none;
    color: var(--input-text-color);
    font: inherit;
    margin-right: 10px;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: var(--hover-color);
}


.search__buttons {
    display: flex;

}

.search-form {
    display: flex;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
}


.todo-category {
    padding: 8px;
    border: 2px solid currentColor;
    border-radius: 1000px;
    background: currentColor;
    color: var(--text-color2);
    font: inherit;
    margin-right: 10px;
    cursor: pointer;
}
