@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --background: #ffffff;
    --text: #ffffff;
    --primary-color: #ffd900;
    --secondary-color: #02d3b0;
    --hover-color: #eb04cc;
    --accent-color: #5a048b;
    --text-color: #ffffff;
    --text-color2: #000000;
    --input-text-color: #000;
    --base-variant: #e8e9ed;

}

.darkmode {
    --background: #252525;
    --text: #ffffff;
    --primary-color: #ffd900;
    --secondary-color: #02d3b0;
    --hover-color: #eb04cc;
    --accent-color: #5a048b;
    --primary-color: #5a048b;
    --secondary-color: #eb04cc;
    --hover-color: #02d3b0;
    --accent-color: #eb04cc;
    --text-color: #000000;
    --text-color2: #ffffff;
    --input-text-color: #fff;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MyCustomFont;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('font/panton-rust-black-base.ttf') format('truetype'),
        url('font/panton-rust-black-base.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-color);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

img {
    width: 200px;
    height: 100px;
}

/*dark mode switch*/
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

/* Wrapper container styles */
.wrapper-container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 20px;
}


.category-dropdown {
    background-color: var(--background);
    color: var(--text-color2);
    border-radius: 20px;
    border: 2px solid var(--accent-color);
    border-color: var(--secondary-color);
    height: 40px;

}


.wrapper::-webkit-scrollbar {
    width: 10px; 
    background-color: #535353; 
  }
.wrapper {
    background-color: var(--background);
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 5px auto;
    max-width: 500px;
    width: 100%;
    height: 400px; 
    overflow-x:hidden; 
    display: flex;
    flex-direction: column;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    flex-grow: 1; 
    overflow-y: auto; 
    margin-top: 20px; 
}
#todo-input {
    flex-grow: 1;
    padding: 12px 20px;
    background: none;
    border: none;
    color: var(--input-text-color);
    border-radius: 20px;
}

#todo-input:focus {
    outline: none;
}

form {
    position: relative;
}

/*filter buttons*/
.filter-buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.filter-button {
    background-color: var(--button-background);
    color: var(--button-text);
    border: none;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filter-button:hover {
    transform: scale(1.2);
}

.filter-button svg {
    fill: var(--secondary-color);
}

.filter-button a {
    color: var(--text-color2);
    text-align: center;
}


.search-add-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    width: 65%;
}

#add-button {
    background-color: var(--secondary-color);
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    color: var(--text);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#add-button svg {
    width: 20px;
    height: 20px;
    fill: var(--text);
}

#add-button:hover {
    background-color: var(--hover-color);
}

.todo {
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.todo:hover {
    transform: scale(1.05);
}

.todo .todo-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
}

.delete-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-button svg {
    transition: 200ms ease;
}

.delete-button:hover svg {
    fill: var(--hover-color);
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.todo.removing {
    animation: fadeOut 0.3s forwards;
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked~.custom-checkbox {
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked~.custom-checkbox svg {
    fill: var(--primary-color);
}

input[type="checkbox"]:checked~.todo-text {
    text-decoration: line-through;
    color: var(--hover-color);
}

input[type="checkbox"] {
    display: none;
}

footer {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    font-size: 0.8rem;
}

footer a {
    color: var(--text-color2);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}



/* Media query for mobile devices */
@media (max-width: 768px) {
    .wrapper-container {
        flex-direction: column;
        padding: 10px;
      
    }

    .wrapper {
        padding: 20px;
        margin: 10px auto;
        max-width: 100%;
    }

    .category-dropdown{
        width: 25%;
        height: 40px;
    }


    #todo-input,
    .button {
        width: 100%;
        height: 10px;
        margin-bottom: 10px;
    }

  
    .todo-list {
        padding: 10px;
    }
}


.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; 
}

.flex-container .category-dropdown,
.flex-container #todo-input,
.flex-container .button {
    flex-grow: 1;
}


/* Alert Container */
#alert-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1000;
  }
  
  /* Alert Styles */
  .alert {
    min-width: 250px;
    padding: 1rem;
    border-radius: 5px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  /* Alert Types */
  .alert-info { background-color: #17a2b8; }
  .alert-success { background-color: #28a745; }
  .alert-warning { background-color: #ffc107; color: #212529; }
  .alert-danger { background-color: #dc3545; }
  
  /* Visible Alert (Slide In) */
  .alert.visible {
    transform: translateX(0);
    opacity: 1;
  }
  